<?xml version="1.0" encoding="utf-8"?>
<robot name="ECBPMi">

    <link name="root_link"/>

    <joint name="root_joint" type="fixed">
        <parent link="root_link"/>
        <child link="ECBMi_link"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

    <link name="ECBMi_link">
       <visual>
            <geometry>
                <mesh filename=""/>
            </geometry>
        </visual>
    </link>

    <joint name="leafJoint" type="fixed">
        <parent link="ECBMi_link"/>
        <child link="leafLink"/>
        <origin xyz="0 0 -0.121" rpy="0 0 0"/>
    </joint>

    <link name="leafLink"/>

</robot>
